<div class="container-sm" style="margin-top: 40px">
    <form [formGroup]="ordersForm" (ngSubmit)="onFormSubmit()">
      <div class="mb-3">
        <label for="customerId" class="form-label">order customerId</label>
        <input formControlName="customerId" type="text" class="form-control" id="customerId">
      </div>
      <div class="mb-3">
        <label for="products" class="form-label">pls remove later</label>
        <input formControlName="products" type="text" class="form-control" id="products">
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">order price</label>
        <input formControlName="price" type="number" class="form-control" id="price">
      </div>
      <div class="mb-3">
        <label for="status" class="form-label">order status</label>
        <input formControlName="status" type="text" class="form-control" id="status">
      </div>
      <button type="submit" class="btn btn-dark">Create</button>
    </form>
    </div>
