<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">ordersId</th>
      <th scope="col">customerId</th>
      <th scope="col">Price</th>
      <th scope="col">status</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.ordersId }}</td>
      <td>{{ order.customerId }}</td>
      <td>{{ order.price }}</td>
      <td>{{ order.status }}</td>
      <td><button class="btn btn-primary" (click)="onEdit(order)">Update</button></td>
    </tr>
  </tbody>
</table>

