<h1>My Orders</h1>
<mat-list *ngFor="let order of orders">
    <mat-list-item class="item">
        <div id="leftbox"><p>{{order.ordersId}}</p></div>
        <div id="middlebox"><p>{{order.price}}</p></div>
        <div id="rightbox"><p>{{order.status}}</p></div>
     </mat-list-item>
   </mat-list>
<!--
    <h1>My Orders</h1>
<mat-list>
    <mat-list-item class="item" *ngfor="order in orders">
        <div id="leftbox"><p>{{order.ordersId}}</p></div>
        <div id="middlebox"><p>{{order.price}}</p></div>
        <div id="rightbox"><p>{{order.status}}</p></div>
     </mat-list-item>
   </mat-list>

   <h1>My Orders</h1>
<mat-list>
    <mat-list-item class="item">
        <div id="leftbox"><p>name</p></div>
        <div id="middlebox"><p>price</p></div>
        <div id="rightbox"><p>status</p></div>
     </mat-list-item>

    <mat-list-item class="item">
        <div id="leftbox"><p>name</p></div>
        <div id="middlebox"><p>price</p></div>
        <div id="rightbox"><p>status</p></div>
    </mat-list-item>
    <mat-list-item class="item">
        <div id="leftbox"><p>name</p></div>
        <div id="middlebox"><p>price</p></div>
        <div id="rightbox"><p>status</p></div>
    </mat-list-item>
   </mat-list>


-->
