
<h1>My Orders</h1>
<mat-list>
    <mat-list-item class="item">
        <div id="leftbox"><p>name</p></div>
        <div id="middlebox"><p>price</p></div>
        <div id="rightbox"><p>status</p></div>
     </mat-list-item>
    
    <mat-list-item class="item">
        <div id="leftbox"><p>name</p></div>
        <div id="middlebox"><p>price</p></div>
        <div id="rightbox"><p>status</p></div>
    </mat-list-item>
    <mat-list-item class="item">
        <div id="leftbox"><p>name</p></div>
        <div id="middlebox"><p>price</p></div>
        <div id="rightbox"><p>status</p></div>
    </mat-list-item>
   </mat-list>
   