<h1 >My Orders</h1>
<mat-grid-list cols=3>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile >
<table class="table table-hover">
  <thead class="thead">

    <tr>
      <th scope="col">Order ID</th>
      <th scope="col" >Price</th>
      <th scope="col"id="align-right">Status</th>
    </tr>
  </thead>
  <tbody *ngFor="let order of orders">
    <tr>
      <td>{{order.ordersId}}</td>
      <td>{{order.price}}€</td>
      <td id="align-right">{{order.status}}</td>
    </tr>
    </tbody>
</table>

</mat-grid-tile>

<!--
  
<h1>My Orders</h1>
<mat-list *ngFor="let order of orders">
    <mat-list-item class="item">
        <div id="leftbox"><p>{{order.ordersId}}</p></div>
        <div id="middlebox"><p>{{order.price}}</p></div>
        <div id="rightbox"><p>{{order.status}}</p></div>
     </mat-list-item>
   </mat-list>
-->