.item {
    background-color: rgb(216, 208, 216);
}

#leftbox {
    float:left; 
  
    width:80%;
    height:3em;
}
#middlebox{
    float:left; 

    width:10%;
    height:3em;
}
#rightbox{
    float:right;

    width:10%;
    height:3em;
}

#buy-btn{
    background-color: #91C788;
}

h1 {
    margin: 0.5em 1em 0.5em 0.2em;
}

div {
    padding: 0.7em 1em;
}
