<mat-list>
    <mat-list-item>
        <div id="leftbox"><p>name</p></div>
        <div id="middlebox"><p>price</p></div>
        <div id="rightbox"><button mat-button>remove</button></div>
     </mat-list-item>
    
    <mat-list-item>
        <div id="leftbox"><p>name</p></div>
        <div id="middlebox"><p>price</p></div>
        <div id="rightbox"><button mat-button>remove</button></div>
    </mat-list-item>
    <mat-list-item>
        <div id="leftbox"><p>name</p></div>
        <div id="middlebox"><p>price</p></div>
        <div id="rightbox"><button mat-button>remove</button></div>
    </mat-list-item>
   </mat-list>
   