
.grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }
  
  #leftbox {
    float:left; 
    width: 80%;
    height: 3em;
  }
  
  #rightbox{
    float: right;
    text-align: right;
    width: 20%;
    height: 3em;
  }

  #middlebox{
      float: left;
      width: 10%;
      height: 3em;
  }

  #id{
    font-weight: lighter;
  }
  p {
    font-weight: bold;
  }
  .img-container{
    position: relative;
    width: 100%;
    max-width: 600px;
  }

  .img-container .btn{
    position: absolute;
    bottom: 1%;
    right: 1%;
    transform: translate(10%, 100%);
    background-color: 	purple;
    color: white;
    }
  
    .img-container .btn:hover {
      background-color: #F0A500;
    }
  
    .b {
      background-color: 	#F0D3D3;
      border: none;
      padding: 5px;
      border-radius: 4px;
      height: 2em;
      transform: translate(30%, -10%);
    }
  
    .b:hover {
      background-color:  #F0A500;
      border: none;
      padding: 5px;
      border-radius: 4px;
      height: 2em;
    }

    h1 {
      margin-top: 2em;
      font-weight: bold;
      font-size:xx-large;
      text-align: center;
  }
  